body{
    text-align: center;
}
button{
    background: #933;
    color: white;
    padding: 10px;
    border: solid 2px black;
    border-radius: 5px;
    font-size: 18px;
}
#car1{
    top: 30px;
    height: 40px;
    width: auto;
}
#car2{
    top: 45px;
    height: 40px;
    width: auto;
}
#racetrack{
    background: url(road.jpg) center left repeat-x;
    border-right: dashed 5px white;
    box-sizing: border-box;
    height: 150px;
    margin: 40px 0px;
}
.car{
    display: block;
    position: relative;
}
#raceinfocontainer{
    width: 80%;
    margin: 80px auto 0;
    background: #333;
    height: 400px;
}
#raceinfocontainer h2{
    color: white;
    text-transform: uppercase;
    border-bottom: solid 2px white;
    padding: 20px 0;
}
.raceinfo{
    font-size: 24px;
    font-weight: bold;
    color: white;
    width: 50%;
    float: left;
}
.raceinfo span{
    display: block;
    font-weight: normal;
    font-size: 18px;
    color: white;
}
#raceinfo1{
    color: #77b82f;
}
#raceinfo2{
    color: #b82f3e;
}
input[type="button"]{
    background: #77b82f;
    color: white;
    padding: 10px 20px;
    border: solid 2px #444;
}
input#reset{
    background: #fc3;
    color: #444;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}